:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1242px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'DM Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 57px 0;
}

.footer-line {
  border-bottom: #d9dbe9 solid 1px;
}

.input-footer {
  min-width: 472px;
}

.logotype {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 40px;
  height: 40px;
}

.logo-title {
  color: #170f49;
  font-size: 36px;
  font-weight: 800;
  margin: 0;
}

.logo-subtitle {
  color: #4a3aff;
}

.header-btn {
  border-radius: 56px;
  background-color: #4a3aff;
  color: white;
  padding: 20px 40px;
  border: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
}

.footer-btn {
  padding: 15px 27px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.footer-logo {
  gap: 10px;
}

.footer-copyright {
  color: #6f6c90;
  font-weight: 600;
}

hr {
  border: none;
  height: 1px;
  background-color: #d9dbe9;
  margin-top: 30px;
}

.steps-container {
  display: flex;
  justify-content: center;
}

.step {
  width: 34px;
  height: 34px;
  background-color: #eff0f6;
  border-radius: 50%;
  color: #6f6c90;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-step {
  background-color: #4a3aff;
  color: #ffffff;
}

.step-line {
  display: flex;
  align-items: center;
}

.progress-line-container {
  position: relative;
  width: 98px;
  height: 6px;
  margin: 0 18px;
}

.progress-line {
  background-color: #eff0f6;
  height: 100%;
  border-radius: 40px;
}

.active-progress-line {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4a3aff;
  height: 100%;
  border-radius: 40px;
}

input {
  border: none;
  font-size: 18px;
}

input:focus {
  outline: none;
}

.input-form {
  display: flex;
  justify-content: space-between;
  border-radius: 46px;
  height: 40px;
  padding: 14px 16px;
  border: 1px solid #eff0f6;
  color: #6f6c90;
  font-size: 18px;
  margin-top: 14px;
  align-items: center;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px #13124212;
}

.multiform-header {
  max-width: 566px;
  margin: auto;
}

.multiform {
  margin: auto;
  max-width: 699px;
  margin-bottom: 76px;
}

.multiform-title {
  color: #170f49;
  font-size: 34px;
  line-height: 46px;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
}

.multiform-subtitle {
  color: #6f6c90;
  font-size: 18px;
  line-height: 30px;
}

.form {
  border: #eff0f6 solid 1px;
  border-radius: 34px;
  box-shadow: 0 5px 16px #080f340f;
  padding: 32px 46px 80px;
  text-align: left;
  margin-bottom: 32px;
  margin-top: 42px;
  height: 492px;
}

.form-steps {
  margin-top: 64px;
}

.form-title {
  margin: 0;
  color: #170f49;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 10px;
}

.form-subtitle {
  color: #6f6c90;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.form-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  padding-top: 30px;
  align-items: center;
}

.input-form-title {
  color: #170f49;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.icon-background {
  border-radius: 100%;
  background-color: #d6d3f8;
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.checkbox {
  width: 232px;
  display: flex;
  align-items: center;
  padding: 23px 25px;
  flex-wrap: wrap;
  border: 1px solid #eff0f6;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
}

.checked-checkbox {
  border: 2px solid #4a3aff;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
}

.radio {
  padding: 46px 0 46px 32px;
}

.radio-label {
  color: #303030;
  font-size: 14px;
  font-weight: 400;
  margin-right: 7px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.input-box {
  display: none;
}

.unchecked-radio {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: #d9dbe9 solid 1.2px;
  margin-right: 10px;
}
.checked-radio {
  background-color: #4a3aff;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  position: relative;
  margin-right: 10px;
}

.checked-radio::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 9px;
  height: 9px;
  border-radius: 100%;
}

.final-step-header {
  padding-top: 13px;
}

.final-step {
  text-align: center;
  padding: 30px 60px 0px;
}

.submit-btn {
  padding-top: 30px;
}

.previous-btn {
  color: #4a3aff;
  border: 1px solid #4a3aff;
  background: none;
  font-weight: normal;
}

.steps-btns {
  display: flex;
  justify-content: space-between;
}

.step-next {
  display: flex;
  justify-content: flex-end;
}

.step-previous {
  justify-self: center;
}

@media (max-width: 990px) {
  .footer {
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .input-form {
    padding: 8px 10px;
  }

  .checkbox {
    width: 210px;
  }
}

@media (max-width: 675px) {
  .form {
    height: 750px;
  }
  .form-blocks {
    flex-direction: column;
  }

  .final-step {
    padding: 120px 60px 0px;
  }

  .multiform {
    margin-bottom: 46px;
  }

  .input-form {
    width: 400px;
  }

  .progress-line-container {
    width: 50px;
  }

  .radio {
    padding: 36px 0 36px 22px;
  }
}

@media (max-width: 540px) {
  .input-form {
    width: 300px;
  }

  .input-footer {
    min-width: 272px;
  }

  .form {
    padding: 32px 26px 60px;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
  }

  .input-form {
    width: 250px;
  }

  .input-footer {
    min-width: 100%;
  }
  .progress-line-container {
    width: 20px;
  }
  .final-step {
    padding: 60px 60px 0px;
  }
}

@media (max-width: 340px) {
  .form {
    padding: 32px 16px 60px;
  }
  .progress-line-container {
    width: 10px;
  }
  .input-footer {
    flex-direction: column;
    min-width: 200px;
  }
  .footer-btn {
    margin-top: 40px;
  }
}
