:root {
margin: 0;
padding: 0;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 76px;
  font-family: "DM Sans", sans-serif;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 99px;
}

.logotype{
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img{
  width: 40px;
  height: 40px;
}

.logo-title{
  color: #170F49;
  font-size: 36px;
  font-weight: 800;
  margin: 0;
}

.logo-subtitle{
  color: #4A3AFF;
}

.header-btn{
  border-radius: 56px;
  background-color: #4A3AFF;
  color: white;
  padding: 20px 40px;
  border: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
}

.footer-logo{
  gap: 10px;
}

.footer-copyright{
  color: #6F6C90;
  font-weight: 600;
}

hr{
  border: none; 
  height: 1px; 
  background-color: #D9DBE9;
  margin-top: 30px;
}

.steps-container{
  display: flex;
  justify-content: center;

}

.step{
  width: 34px;
  height: 34px;
  background-color: #EFF0F6;
  border-radius: 50%;
  color: #6F6C90;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-step{
  background-color: #4A3AFF;
  color: #FFFFFF;
}

.step-line{
  display: flex;
  align-items: center;
}

/* .progress-line{
  background-color: #eff0f6;
  width: 98px;
  margin: 0 18px;
  height: 6px;
  border-radius: 40px;
}

.active-progress-line{
  background-color: #4A3AFF;
} */
.progress-line-container {
  position: relative;
  width: 98px;
  /* Adjust this value to match the width of your progress line */
  height: 6px;
  margin: 0 18px;
}

.progress-line {
  background-color: #eff0f6;
  height: 100%;
  border-radius: 40px;
}

.active-progress-line {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4a3aff;
  height: 100%;
  border-radius: 40px;
}



input{
  border: none;
  font-size: 18px;
}

input:focus{
  outline: none;
}

.input-form{
  display: flex;
  justify-content: space-between;
  border-radius: 46px;
  width: 246px;
  height: 40px;
  padding: 12px 16px;
  border: 1px solid #EFF0F6;
  color: #6F6C90;
  font-size: 18px;
  margin-top: 17px;
  align-items: center;
}


.input-with-button{
  display: flex;
  align-items: center;
}

.multiform-header{
  max-width: 566px;
  margin: auto;
}

.multiform{
  margin: auto;
  max-width: 699px;

}

.multiform-title{
  color: #170F49;
  font-size: 34px;
  line-height: 46px;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
}

.multiform-subtitle{
  color: #6F6C90;
  font-size: 18px;
  line-height: 30px;
}

.form{
  border: #EFF0F6 solid 1px;
  border-radius: 34px;
  box-shadow: 0 5px 16px #080f340f;
  padding: 32px 46px 80px;
  text-align: left;
  margin-bottom: 32px;
  margin-top: 42px;
}

.form-steps{
  margin-top: 64px;
}

.form-title{
  margin: 0;
  color: #170F49;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 10px;

}

.form-subtitle{
  color: #6F6C90;
  font-size: 18px;
  line-height: 30px;
  margin: 0;

}

.form-blocks{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 28px;
  margin-top: 23px;
  align-items: center;
}

.input-form-title{
  color: #170F49;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.icon-background{
  border-radius: 100%;
  background-color: #d6d3f8;
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox{
  width: 232px;
  display: flex;
  align-items: center;
  padding: 23px 25px;
  flex-wrap: wrap;
  border: 1px solid #EFF0F6;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
}

.checked-checkbox {
  border: 2px solid #4A3AFF; 
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
}

.radio{
  padding: 45px 0 45px 32px;
}

.radio-label{
  color: #303030;
  font-size: 14px;
  font-weight: 400;
  margin-right: 7px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.input-box{
    visibility: hidden;
}

.custom-radio {
  left: -8px;
  top: 6px;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border: 2px solid #9a9a9a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

/* for inner filled circle */
.custom-radio::after {
  content: '';
  width: 12px;
  height: 12px;
  background: #f4b400;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}


.final-step{
  margin-top: 61px;
  text-align: center;
}

.submit-btn{
  margin-top: 20px;
}

.previous-btn{
  color: #4A3AFF;
  border: 1px solid #4A3AFF;
  background: none;
  font-weight: normal;
}




.steps-btns{
  display: flex;
  justify-content: space-between;
}

.step-next{
  display: flex;
  justify-content: flex-end;
}


.step-previous{
  justify-self: center;
}
